<h1>Dashboard</h1>

<form method="get" action="/posts/create" id="create_posts">
    <label for="title">Titulo</label>
    <input name="title" class="form-control">

    <label for="image_url">Imagen</label>
    <input type="text" name="image_url" class="form-control">

    <label for="content">Contenido</label>
    <textarea name="content" class="form-control"></textarea>
    
    <button type= "submit"class="btn btn-info mt-3">Enviar</button>
</form>


